services:
  - type: web
    name: admin-backend
    env: node
    region: oregon
    plan: free
    buildCommand: rm -rf apps/admin-backend/dist && pnpm install --frozen-lockfile --ignore-scripts && pnpm turbo build --filter=admin-backend... --force
    startCommand: cd apps/admin-backend && node dist/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PNPM_HOME
        value: /opt/render/project/.pnpm
