services:
  - type: web
    name: admin-backend
    env: node
    region: oregon
    plan: free
    buildCommand: pnpm install --frozen-lockfile --ignore-scripts && pnpm --filter @printz/types build && pnpm --filter @printz/utils build && pnpm --filter @printz/ui build && pnpm --filter admin-backend build
    startCommand: cd apps/admin-backend && node dist/server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PNPM_HOME
        value: /opt/render/project/.pnpm
